.iconRetour{
    margin: 30px;
    size: 19px;
}

a:link 
{ 
 text-decoration:none; 
} 

.buttonRetour{
    border: none;
    background-color: #3D3D3D;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 50px;
    height: 39px;
    width: 26px;
    font-size: 19px;
}

.buttonCreerGroupe1{
    border: none;
    background-color: #3D3D3D;
    color: #5FB814;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 30px;
    height: 39px;
    font-size: 19px;
}

.profileCreatGroupe{
    position: absolute;
    width: 181px;
    height: 50px;
    left: 30px;
    top: 134px;
}

.imageProfileCreatGroupet{
    position: absolute;
    left: 0%;
    right: 72.38%;
    top: 0%;
    bottom: 0%;
    width: 50px; 
}

.nomPromoCreatGroupe{
    position: absolute;
    left: 40.33%;
    right: 0%;
    top: 4%;
    bottom: 48%;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #FFFFFF;
}

.ajouterUnNom{
    position: absolute;
    width: 360px;
    height: 46px;
    left: 30px;
    top: 325px;
}

.inputName{
    background-color: #686868;

}

.inputName::placeholder{
    color: white;
}

.inputDescritpionGroupe {
    position: absolute;
    width: 320px;
    height: 250px;
    left: 30px;
    top: 400px;
    background-color: #686868;
    border-radius: 10px;
    border: none;
}

.inputDescritpionGroupe::placeholder{
    color: white;
}

.inputDescritpionGroupe {
    padding-top: 5px;
    padding-left: 13px;
    align-items: center;
    font-family: 'Kanit';
}

.buttonCréerGroupe2 {
    border: none;
    position: absolute;
    width: 333px;
    height: 40px;
    left: 30px;
    top: 720px;

    background: #3E7A0C;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Kanit';
}

.inputsearchBarreAmie {
    border: none;
    position: absolute;
    width: 305px;
    height: 30px;
    left: 30px;
    top: 240px;

    background-color: #686868;
    color: #FFFFFF;
}

.inputsearchBarreAmie::placeholder{
    color: white;
}