.modifButtonredGroup {
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    /* margin-right: 20px; */
}

.modifButtongreenGroup {
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    right: 25px;
    /* margin-left: 20px; */
}

.containerModifGroup {
    margin-top: 30px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* width: 100%; */
}

.modifGroup {
    margin: auto;
    align-items: center;
    font-size: 9px;
}

.modifierNameGroup {
    font-size: 15px;
    margin-right: 145px;
}

.modifierDescriptionGroup {
    font-size: 15px;
    margin-right: 155px;
    top: 100px;
}

.modifierespaceDesc {
    margin-top: 5px;
}

.supprime {
    margin-top: 30px;
}

.supprimeButton {
    position: absolute;
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
    right: 30px;
    font-size: 15px;
    /* margin-left: 20px; */
    margin-top: 10px;
}

.wrappersGroup {
    width: 330px;
    height: 500px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto 0px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}